<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">                                                                                                                                                              
    <wb-module deploy-name="test_ui5_mime">                                                                                                                                                                                                                    
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>                                                                                                                                                                       
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>                                                                                                                                                                                       
        <property name="context-root" value="test_ui5_mime"/>                                                                                                                                                                                                  
        <property name="java-output-path" value="/test_ui5_mime/build/classes"/>                                                                                                                                                                               
    </wb-module>                                                                                                                                                                                                                                               
</project-modules>                                                                                                                                                                                                                                             
                                                                                                                                                                                                                                                               